# =========================
# Sistema Operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Segredos e Credenciais
# =========================
.env
.env.*
!.env.example

# =========================
# Visual Studio e .NET
# =========================
# Build e Dependências
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
artifacts/

# Arquivos de usuário e cache da IDE
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Configurações de desenvolvimento locais
appsettings.Development.json
appsettings.Local.json

# NuGet
*.nupkg
*.snupkg

# Resultados de Teste e Logs
[Ll]og/
[Ll]ogs/
*.binlog
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.VisualState.xml
TestResult.xml
nunit-*.xml
CodeCoverage/

# ASP.NET / .NET Core antigos ou gerados
project.lock.json
project.fragment.lock.json
ScaffoldingReadMe.txt

# Temporários
~$*
*~

# =========================
# Angular e Node.js
# =========================
# Dependências do Node
node_modules/

# Pastas de build do Front-end
dist/
out-tsc/

# Arquivos de cache e log do Angular
.angular/
*.log

# Variáveis de ambiente sensíveis do Angular
src/environments/environment.prod.ts
src/environments/environment.ts